##
## https://pjc.is/me/templates
#

# Common junk files
.DS_Store
*.sw*

# Private files and backups
*.*~
*.doc
*.docx
*.eml

# GPG file signatures for PDF releases
# To be replaced by signed Git commits
*.pdf.asc


##
## https://github.com/github/gitignore/blob/master/TeX.gitignore
#

# Core latex/pdflatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Intermediate documents
*.dvi
*.xdv
*-converted-to.*

# Generated if empty string is given at "Please type another file name for output"
.pdf

# Bibliography auxiliary files (bibtex/biblatex/biber)
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
